.gallery {
    width: 100%;
    position: absolute;
    top: 350px;
    text-align: center;
}

.gallery .photo-item {
    background: #D8D8D8;
    background-size: cover;
    height: 200px !important;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.08);
}

.service-button-group .btn {
    font-weight: bold;
    padding-right: 40px;
    padding-left: 40px;
    /*margin: 15px;*/
    margin-left: 10px;
    margin-right: 10px;
    /*padding: 10px;*/
    /*width: 130px;*/
}

.service-item {
    border: 2px #F0F0F0 solid;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 25px;
    min-height: 70px;
    text-align: center;
    display: table;
    width: 100%;
}

.service-item a img {
    height: 120px;
}

